{% extends "base.html.twig" %}

{% block body %}

	<h1 class="page-header col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">Le Petit Mazilloux</h1>

	<div class="container">
		<div class="row">

			<div class="homepage-image-container col-xl-10 offset-xl-1">
				<img src="Media/Images/front.jpeg" class="img-fluid housefront" alt="Le Petit Mazilloux">
			</div>

		</div>
	</div>


	<div class="media-page-links-container col-xl-12 offset-xl-0 col-lg-12 offset-lg-0 col-md-12 offset-md-0 col-sm-12 offset-sm-0 col-12 offset-0">

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-10 offset-1">
			<img src="Media/Images/Hebergement/Chambres/ChambreTerreCuiteHomePage.jpg" class="img-fluid homepageimages" alt="La Chambre Terre Cuite">
			<a href="{{ path('mazilloux') }}" class="col-8 offset-2 btn btn-secondary" style="margin-top:1%;margin-bottom:1%;">Chambre Terre Cuite</a>
		</div>

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-10 offset-1">
			<img src="Media/Images/Hebergement/Chambres/SuiteHomePage.jpg" class="img-fluid" alt="La salle de bains">
            <a href="" class="col-8 offset-2 btn btn-secondary" style="margin-top:1%;margin-bottom:1%;">Salle de bains</a>
		</div>

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-10 offset-1">
			<img src="Media/Images/Hebergement/Chambres/ChambrePorcelaineHomePage.jpg" class="img-fluid" alt="La Chambre Porcelaine">
			<a href="{{ path('mazilloux') }}" class="col-8 offset-2 btn btn-secondary" style="margin-top:1%;margin-bottom:1%;">Chambre Porcelaine</a>
		</div>

	</div>

	<h3>Bienvenue au Petit Mazilloux</h3>

	<div class="container">
		<div class="row">

			<div class="welcome-content">

				<p>
					Nichée à 1133m d'altitude dans les monts de Velay, cette maison est une ancienne ferme typique de l'Auvergne,
					construite en pierres volcaniques du XVIIème siècle.<br/>
					<br/>
					Située à proximité de l'Ardèche, du Mézenc et des Estables, Le Petit Mazilloux est entouré de volcans et forêts.
					Nous vous accueillons toute l'année dans notre havre de paix pour venir partager avec nous notre attachement au
					paysage magique de la Haute Loire.
					<br/>
					Deux chambres d'hôtes et suites de charme et un "Cottage", décorés avec soin, allient confort au style vintage.
					Pour un séjour magique et insolite, proche de la nature, vous serez en compagnie de chevaux, poules et un petit Westie.
					<br/>
					En séjournant au Petit Mazilloux vous profiterez d’un lieu unique pour vous détendre, vous ressourcer et vous "déconnecter".
					<br/>
					Vous rentrerez dans un cadre familial qui s’est investie pour vous recevoir dans les meilleures conditions, comme à la maison.
					<br/>
					Ici tout n’est qu’harmonie et authenticité. Chaque meuble patiemment restauré a trouvé sa place de façon naturelle.
					Une véritable alchimie entre pierres apparentes, fresques murales, nature préservée et objets anciens mis en scène par ses propriétaires, spécialisés en renovation de bâti ancien.
					Vous découvrirez des ambiances différentes et multiples qui s’assemblent comme dans un patchwork.
					<br/>
					Le petit-déjeuner est servi tous les jours de 7h à 10h00 dans un décor atypique, vous dégusterez des produits frais sélectionnés parmi nos meilleurs producteurs locaux et découvrirez nos confitures maisons des fruits du jardin.				
					<br/>
					Nous proposons aussi des stages de céramique et de textile, n'hésitez pas à nous contacter si vous souhaitez des renseignements.
					<br/>
					Venez profiter des nombreuses activités de pleine nature que
					la Haute-Loire propose : (Ski de fond et de descente en hiver), des randonnées à pied ou avec un âne (chemin de Stevenson),
					ou même la baignade au Lac d'Issarlès.<br/>
				</p>
					
			</div>

		</div>
	</div>


	<div class="media-page-links-container col-xl-12 offset-xl-0">

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-10 offset-1">
			<img src="Media/Images/Stages/Ceramique/pitfiring-1.jpeg" class="img-fluid" alt="pit firing">
			<a href="{{ path('mazilloux_stageceramique') }}" class="col-8 offset-2 btn btn-secondary" style="margin-top:1%;margin-bottom:1%; background-color:#707070;">Pit Firing</a>
		</div>

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-10 offset-1">
			<img src="Media/Images/Stages/atelier.jpeg" class="img-fluid" alt="L'atelier">
			<a href="{{ path('mazilloux_stageceramique') }}" class="col-8 offset-2 btn btn-secondary" style="margin-top:1%;margin-bottom:1%; background-color:#707070;">L'atelier</a>
		</div>

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-8 offset-sm-2 col-10 offset-1">
			<img src="Media/Images/Stages/Ceramique/raku-1.jpeg" class="img-fluid" alt="Raku">
			<a href="{{ path('mazilloux_stageceramique') }}" class="col-8 offset-2 btn btn-secondary" style="margin-top:1%;margin-bottom:1%; background-color:#707070;">Raku</a>
		</div>

	</div>


	<div class="nature-media-container col-xl-12 offset-xl-0 col-lg-12 offset-lg-12 col-md-12 col-sm-12 col-12">

		<div class="image-links col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0 col-sm-6 offset-sm-0 col-6 offset-0">
			<img src="Media/Images/stone.jpg" class="img-fluid" alt="La Chambre Terre Cuite">
		</div>

		<div class="image-links  col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0  col-sm-6 offset-sm-0 col-6 offset-0">
			<img src="Media/Images/fountain.jpg" class="img-fluid" alt="La Chambre Porcelaine">
		</div>

		<div class="image-links  col-xl-4 offset-xl-0 col-lg-4 offset-lg-0 col-md-4 offset-md-0  col-sm-6 offset-sm-3 col-6 offset-3">
			<img src="Media/Images/frostytree.jpg" class="img-fluid" alt="La Chambre Porcelaine">
		</div>

	</div>

{% endblock %}
